@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 255, 252, 240;
  /* Cream background */
  --background-end-rgb: 255, 252, 240;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-start-rgb));
  font-feature-settings: "ss01", "ss02", "cv01", "cv02";
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}