@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 60, 60, 60;
  --background-start-rgb: 255, 255, 255;
  --background-end-rgb: 250, 250, 245;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 230, 230, 230;
    --background-start-rgb: 30, 30, 30;
    --background-end-rgb: 20, 20, 20;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom,
      rgb(var(--background-start-rgb)),
      rgb(var(--background-end-rgb)));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}